<div class="flex h-screen">
  <div class="flex-1 p-16">
    <PictureGrid
      @picture={{model}}
      @color={{color}}
      @onCellChange={{action 'changeCellColor'}}
      @isEditable={{true}}
    />
    <hr>
    <ColorPicker @color={{color}} @onChange={{action (mut color)}} />
  </div>

  <div class="flex-1 p-16 text-2xl">
    {{model.asJson}}
  </div>
</div>